.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
        0px 16px 24px rgba(0, 0, 0, 0.04),
        0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

.innerBox {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 56px;
    margin: 16px 0 16px 0;
}

.buttonswrap {
  display: flex;
}

.burger {
    display: flex;
    align-items: center;
}

.burger a {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.order {
   display: flex;
   align-items: center;
}

.order a {
    display: flex;
    margin-left: 28px;
    text-decoration: none;
   
}

.burgertext {
    margin-left: 8px;
    margin-right: 20px;
}

.ordertext {
    color: #8585AD;
    margin-left: 8px;
    margin-right: 20px;
}

.logowrap {
    display: flex;
    align-items: center;
}

.logowrap >div {
  display: flex;
}

.roomwrap {
    display: flex;
    align-items: center;
}

.roomwrap a {
    display: flex;
    margin-right: 20px;
    text-decoration: none;
}

.roomtext {
    margin-left: 11px;
    color: #8585AD;
}